.dataTables_filter{
    text-align:right;
}
.padding-temizle{
    padding:0 !important;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a{
    white-space:normal;
}
.chat-left-menu{
    height: 436px;
    overflow-y: scroll;
}
.scroll-type-1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroll-type-1::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.scroll-type-1::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
#notification_li{position:relative}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 5px;
    margin-left: 0;
    width: 400px;
    z-index: 999;
    display: none;
}
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    width: 384px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody {
    padding: 0 !important;
    min-height:300px;
}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #FF0000;/*#cc0000*/ /*#3796D3*/
    color: #ffffff;
    font-weight: bold;
    margin-left: 235px;
    border-radius: 9px;
    position: absolute;
    margin-top: 0;
    font-size: 11px;
}
.notificationslist{
    border-bottom:1px solid #ccc;
    padding-left:10px;
    min-height:50px;
    cursor:pointer;
}
.notificationsText{
    color:#333;
    font-size:12px;
    line-height: 1.34;
    font-family:helvetica,arial, helvetica, sans-serif;
    padding-left:35px;
    padding-top:10px;
}
.notificationsText p{
    color:#999;
    text-align:right;
    margin:0;
    padding-right:10px;
}
.notificationsImg{
    float:left;
    padding-top:5px;
}
.notificationsImg img{
    width: 40px;
}
.notifications a{
    display:block;
}
.newNotifications{
    background-color:#e9eaed;
}
span.select2-container {
    z-index:10050;
}
@media print{
    .none-print{
        display:none !important;
    }
}